<div class="row">
    <div class="main-block keynote">
        <h2>Keynote — Maria Naggaga, Microsoft</h2>
        <h3 style="text-align:center">8:00 - 9:15 Central Time</h3>
        <p style="text-align:center;">
            <iframe width="800" height="500" src="https://www.youtube.com/embed/live_stream?channel=UChd4QGQ2MoVeGCgbfgWtF0Q" frameborder="0"
                allowfullscreen></iframe>
        </p>
        <p class="img-circle"></p>
        <p>Maria Naggaga is a developer and artist. She is a Program Manager on the Visual Studio and .NET team where she explores
            ways to engage and teach new developers about .NET OSS. Earlier in her career, Maria worked as a Microsoft Technical
            Evangelist in New York where she worked with a variety of developers on different stacks and technologies. Maria’s
            passion is in finding interesting ways on how we can use art, software, and hardware to change perception, tell
            stories and break stereotypes.</p>
    </div>
</div>