-function getSessionsForTimeslot(timeslotIndex){
-    return _.sortBy(_.filter(Object.keys(public.sessions).map(function(key) {
-            return _.assign(public.sessions[key]._data.index, {key: key});
-        }), function(item){
-            return item.timeslot == timeslotIndex
-        }), 'room');
-}
h1 Schedule

//- pre #{ JSON.stringify(getSessionsForTimeslot('1:15 - 2:15')), null, '\t')

div.schedule
    for timeslot in timeSlots
        != partial("_timeslot")
        article.timeslot
            h1 #{timeslot.name} (#{timeslot.time})

            for session in getSessionsForTimeslot(timeslot.timeslotIndex)
                != partial("_scheduleSession", { session: session })
