div.sponsors
    h1 Sponsors

    div.row.platinum
        div.twelve.columns
            img(src="/images/sponsors/microsoft.jpg")

    hr

    div.row.silver
        div.two-half.column
            img(src="/images/sponsors/gmr.png")
            img(src="/images/sponsors/key.png")
            img(src="/images/sponsors/baird.png")
            img(src="/images/sponsors/dentaquest.jpg")

    hr

    div.row.bronze
        div.two-half.column
            img(src="/images/sponsors/brady.png")