div.sponsors
    h1 Sponsors

    p Are you interested in sponsoring MKE DOT NET? #[a(href='/pdf/MKE%20DOT%20NET%20Sponsorship%20Sheet%202017.pdf#v=1&zoom=150') Check out our sponsorship sheet for details!]

    p If you have any other questions for us, or are interested in sponsoring, please send us an email at #[a(href='mailto:mkedotnet@centare.com') mkedotnet@centare.com].

    hr

    div.row
        div.twelve.columns
            h1 Presenting Sponsor
            ul.presenting
                li
                    a(href="http://www.directsupply.com")
                        img(src="/images/sponsors/direct-supply.svg")

            h1 Platinum Sponsors
            ul.platinum
                li
                    a(href="http://www.johnsoncontrols.com/")
                        img(src="/images/sponsors/jci-logo.svg")
                li
                    a(href="https://www.northwesternmutual.com/")
                        img(src="/images/sponsors/nm-logo.png")

            h3 Silver Sponsors
            ul.silver
                li
                    a(href="http://www.bradycorp.com/")
                        img(src="/images/sponsors/brady-corporation-logo.jpg")
                li
                    a(href="http://www.ifsworld.com/us/")
                        img(src="/images/sponsors/ifs.png")
                li
                    a(href="https://www.kcura.com/")
                        img(src="/images/sponsors/kcura-logo.png")
                li
                    a(href="https://www.montagetalent.com/")
                        img(src="/images/sponsors/montage.png")
                li
                    a(href="http://www.syslogicinc.com/")
                        img(src="/images/sponsors/syslogic.png")
                li
                    a(href="http://www.chicago.act-w.org/")
                        img(src="/images/sponsors/act-w-chicago.jpg")

            h3 Bronze Sponsors
            ul.bronze
                li
                    a(href="http://www.trg-marketing.com/")
                        img(src="/images/sponsors/trg-logo.png")

            h4 Lanyard Sponsors
            ul.lanyard
                li
                    a(href="http://www.syslogicinc.com/")
                        img(src="/images/sponsors/syslogic.png")

            h4 Additional Sponsors
            ul.additional
                li
                    a(href="http://www.jetbrains.com/")
                        img(src="/images/sponsors/jetbrains.svg")
