<div class="fusion-one-full fusion-layout-column fusion-column-last fusion-spacing-yes" style="margin-top:0px;margin-bottom:20px;">
    <div class="fusion-column-wrapper" style="padding:20px;">

        <%- yield %>

        <div class="fusion-clearfix"></div>
    </div>
</div>