<section class="hero">
    <div class="row">
        <div class="one-half column center">
            <div class="row">
                <div class="u-max-full-width">
                    <img alt="MKE DOT NET Conference" src="http://www.centare.com/wp-content/uploads/2016/04/MKE_DOT_NET_400px.png"
                        class="u-max-full-width"/>
                </div>
            </div>
            <div class="row hero-presented">
                <div>
                    <p>Presented By</p>

                    <div class="row">
                        <div>
                            <a href="http://www.centare.com"><img alt="" src="http://www.centare.com/wp-content/uploads/2015/08/Centare_Logo_Header_158px.png"
                                class="u-max-full-width"/></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="one-half column hero-copy">
            <h1>Save the date!</h1>
            <h2>September 9, 2017</h2>
            <h3>New location - Potowatomi Hotel & Casino</h3>
            <p><span class="highlight">MKE DOT NET</span> is a one-day
                development conference in the Milwaukee area designed to bring together .NET developers from the Midwest
                to explore new ideas, code, share knowledge and discover best practices.
            </p>
            <p>This conference is great for <strong>developers, designers, programmers, team leads &amp; others</strong> interested in learning more about .NET development.</p>
        </div>
    </div>
</section>
