<section class="hero">
    <div class="row">

        <div class="one-half column hero-copy offset-three">

            <h2 class="text-blackbox text-orange">Save the date for our 2018 event:</h2>
            <h1 class="text-blackbox text-white">Introducing Cream City Code!</h1>
            <h2 class="text-blackbox text-white">The conference formerly known as MKE DOT NET</h2>

            <h2 class="text-blackbox text-orange">October 13, 2018</h2>

            <h2 class="text-blackbox text-orange">Potawatomi Hotel &amp; Casino</h2>

            <p class="text-blackbox">For the last three years, <span class="text-orange"><strong>MKE DOT NET</strong></span> has brought together <strong>developers, designers, students, team leads &amp; others</strong> from the Midwest to explore new ideas, code, share knowledge and discover best practices. For 2018, we've taken on a new name - <span class="text-orange"><strong>Cream City Code</strong></span> - but you can expect another inspiring event from the team that brought you MKE DOT NET.
            </p>

            <div class="row">
                <div class="six columns">
                    <p class="text-blackbox">Saturday, October 13, 2018<br /> 8:00 AM – 5:00 PM CDT</p>
                </div>
                <div class="six columns">
                    <p class="text-blackbox">1721 West Canal Street<br /> Milwaukee, WI 53233</p>
                </div>
            </div>
            <!-- <a class="button button-primary" href="https://www.eventbrite.com/e/mke-dot-net-2017-tickets-32702277392?aff=es2" target="_blank">Buy Tickets</a> -->
            <!-- <div class="graffiti"></div> -->
        </div>
    </div>
</section>