<section class="hero">
    <div class="row">
        <div class="one-half column center hero-logo">
            <div class="row">
                <div class="u-max-full-width">
                    <img alt="MKE DOT NET Conference" src="/images/MKEDOTNET_logo.png"
                        class="u-max-full-width"/>
                </div>
            </div>
        </div>
        <div class="one-half column hero-copy">
            <h1 class="highlight-black text-white">September 9, 2017</h1>
            <h2 class="highlight-black text-orange">New location - Potowatomi Hotel & Casino</h2>
            <p><span class="highlight">MKE DOT NET</span> is a one-day
                development conference in the Milwaukee area designed to bring together .NET developers from the Midwest
                to explore new ideas, code, share knowledge and discover best practices.
            </p>
            <p>This conference is great for <strong>developers, designers, programmers, team leads &amp; others</strong> interested in learning more about .NET development.</p>
            <div class="graffiti"></div>
        </div>
    </div>
</section>
