<section class="hero">
    <div class="row">
        <div class="one-half column center hero-logo">
            <div class="row">
                <div class="u-max-full-width">
                    <img alt="MKE DOT NET Conference" src="/images/MKEDOTNET_logo.png" class="u-max-full-width" />
                </div>
            </div>
        </div>
        <div class="one-half column hero-copy">
            <h1 class="text-blackbox text-white">September 9, 2017</h1>

            <div class="violator">
                <b class="fa fa-exclamation-triangle"></b> Due to the Brewers Half-Marathon many roads are closed to canal street and Potawatomi. 
                Take National Ave to 16th street viaduct bridge.</div>

            <h2 class="text-blackbox text-orange">New location - Potawatomi Hotel & Casino</h2>
            <p><span class="highlight">MKE DOT NET</span> is a one-day development conference in the Milwaukee area designed
                to bring together developers from the Midwest to explore new ideas, code, share knowledge and discover
                best practices.
            </p>
            <p>This conference is great for <strong>developers, designers, programmers, team leads &amp; others</strong> interested
                in learning more about development.</p>
            <div class="row">
                <div class="six columns">
                    <p>Saturday, September 9, 2017<br /> 8:00 AM – 5:00 PM CDT</p>
                </div>
                <div class="six columns">
                    <p>1721 West Canal Street<br /> Milwaukee, WI 53233</p>
                </div>
            </div>
            <a class="button button-primary" href="https://www.eventbrite.com/e/mke-dot-net-2017-tickets-32702277392?aff=es2" target="_blank">Buy Tickets</a>
            <div class="graffiti"></div>
        </div>
    </div>
</section>