<nav id="main-menu">

    <%if (pageType !== "main") { %>
        <a href="/">
            <div alt="MKE DOT NET Conference" src="" class="u-pull-left logo"></div>
        </a>
    <% } %>

    <ul class="u-pull-right">
        <li><a href="/speakers"><span class="menu-text">Speakers</span></a></li>
        <li><a href="/schedule"><span class="menu-text">Schedule</span></a></li>
        <li><a href="/code-of-conduct/"><span class="menu-text">Code of Conduct</span></a></li>
    </ul>
</nav>
