<div class="fusion-main-menu">
<ul id="menu-centare-main-navigation" class="fusion-menu">
<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/" style="line-height: 83px; height: 83px;"><span class="menu-text">About</span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/speakers" style="line-height: 83px; height: 83px;"><span class="menu-text">Speakers</span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/schedule" style="line-height: 83px; height: 83px;"><span class="menu-text">Schedule</span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page fusion-last-menu-item"><a href="/code-of-conduct/" style="line-height: 83px; height: 83px;"><span class="menu-text">Code of Conduct</span></a></li>
</ul></div>
