<nav id="main-menu">

    <h1 id="wordmark" class="<%-pageType%>">
        <a href="/">
            MKE DOT NET
        </a>
    </h1>

    <div id="main-menu-toggle">
        <a href="#">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <ul id="main-menu-items">
        <li class="live-stream"><a href="https://www.youtube.com/watch?v=Q5lTYUsA7Zc" target="_blank"><span class="menu-text"><b class="fa fa-youtube-play"></b>Live Stream!</span></a></li>
        <li><a href="/schedule"><span class="menu-text">Schedule</span></a></li>
        <li><a href="/speakers"><span class="menu-text">Speakers</span></a></li>
        <li><a href="/sponsors/"><span class="menu-text">Sponsors</span></a></li>
        <li><a href="/venue/"><span class="menu-text">Venue</span></a></li>
        <li><a href="/code-of-conduct/"><span class="menu-text">Code of Conduct</span></a></li>
    </ul>
</nav>