<nav id="main-menu">

    <h1 id="wordmark" class="<%-pageType%>">
        <a href="/">
            MKE DOT NET
        </a>
    </h1>

    <ul>
        <li><a href="/schedule"><span class="menu-text">Schedule</span></a></li>
        <li><a href="/speakers"><span class="menu-text">Speakers</span></a></li>
        <li><a href="/code-of-conduct/"><span class="menu-text">Code of Conduct</span></a></li>
        <li><a href="/sponsors/"><span class="menu-text">Sponsors</span></a></li>
    </ul>
</nav>
