<div class="fusion-row">
    <div class="fusion-one-full fusion-layout-column fusion-column-last fusion-spacing-yes" style="margin-top:0px;margin-bottom:20px;">
        <div class="fusion-column-wrapper">
            <div class="imageframe-align-center">
                <span class="fusion-imageframe imageframe-none imageframe-1 hover-type-none"> 
                    <a href="/">
                        <img alt="MKE DOT NET Conference" src="http://www.centare.com/wp-content/uploads/2016/04/MKE_DOT_NET_400px.png" class="img-responsive"/>
                    </a>
                </span>
            </div>
            <div class="fusion-sep-clear"></div>
            <div class="fusion-separator fusion-full-width-sep sep-none" style="border-color:#e0dede;margin-left: auto;margin-right: auto;margin-top:20px;margin-bottom:20px;"></div>
            <p style="text-align: center;">
                <span style="color: #06132a;">Presented By</span></p>
            <div class="imageframe-align-center">
                <span class="fusion-imageframe imageframe-none imageframe-2 hover-type-none">
        <a class="fusion-no-lightbox" href="http://www.centare.com" target="_blank"> 
        <img alt="" src="http://www.centare.com/wp-content/uploads/2015/08/Centare_Logo_Header_158px.png" class="img-responsive"/></a></span></div>
            <div class="fusion-clearfix"></div>
        </div>
    </div>

    <div class="fusion-clearfix"></div>
</div>