$red: #972122;
$dark-blue: #568392;
$medium-blue: #aedbd3;
$light-blue: #e8faf7;
$black: #06132a;

$container-width: 1100px !default;
$font-family: 'PT Sans', Arial, Helvetica, sans-serif;
$primary-color: $dark-blue;
$secondary-color: $red;
$border-color: $light-blue;
$link-color: $dark-blue;
$font-color: $black;
