
@import '_variables.scss';
@import '../../node_modules/skeleton-scss/scss/skeleton.scss';

$bp-smaller-than-phablet: "max-width: 400px" !default;
$bp-smaller-than-tablet: "max-width: 550px" !default;
$bp-smaller-than-desktop: "max-width: 750px" !default;
$bp-smaller-than-desktophd: "max-width: 1000px" !default;
$bp-large-nav-starts-at: "900px";
$bp-medium-nav-starts-at: "460px"; 

html{
    min-height: 100%;
    position: relative;
}
body{
    font-size:18px;
    line-height:24px;
}
header, footer{
    overflow:auto;
    background-color: $black;
}
footer{
    height:40px;
    position:absolute;
    bottom:0;
    left: 0;
    border-top:12px solid $orange;
    right: 0;
}
.header-main {
    position: relative;
    overflow: hidden;

    background: url(/images/brick_repeatable-min.jpg) no-repeat center center; 
    background-size: cover;

    .shade {
        display: block;
    }

    #main-menu > ul > li > a {
        color: $white;
    }
}

h1,h2,h3,h4,h5,h6{
    line-height:1em;
    color:$black;
}

a{
    color:$dark-blue;
    text-decoration:none;
    &:hover{
        color:$orange;
        text-decoration:underline;
    }
}
@media ($bp-smaller-than-desktophd){
    a{
        text-decoration:underline;
    }
}
h1{
    font-size:30px;
    font-family:'Fjalla One', Arial, Helvetica, sans-serif;
}
h2{
    font-size:24px;
    font-family:'Fjalla One', Arial, Helvetica, sans-serif;
}
h3{
    font-size:20px;
    font-weight: 400;
    font-family:'Oswald', Arial, Helvetica, sans-serif;
}
h4{
    font-size:20px;
    font-family:'Oswald', Arial, Helvetica, sans-serif;
}
h5,h6{
    font-family:'Oswald', Arial, Helvetica, sans-serif;    
}
.text-blackbox {
    background-color: black;
    padding:5px;
}
.text-white {
    color: $white;
}
.text-orange {
    color: $orange;
}
.button.button-primary{
    font-size:1.5rem;
}
.content{
    border-top:12px solid $orange;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 52px; //height of footer;
}

.hero{
    padding-bottom:60px;
    .hero-presented{
        padding-top: 40px;
    }

    .hero-copy{
        padding-top: 2rem;
        color: $white;
        position:relative;
    }

    @media(max-width:$bp-large-nav-starts-at) {
        .hero-copy {
            width: 100%;
            margin-left: 0;
        }
        .hero-logo {
            display: none;
        }
    }
}

.shade {
    display: none;
    position:absolute;
    top: 0;
    right: 0;
    left: 50%;
    bottom: 0;
    background-color: rgba(0,0,0,.5);

    &+ * {
        z-index: 100;
    }

    @media (max-width:$bp-large-nav-starts-at) {
        left: 0;
    }
}
.graffiti {
    position: absolute;
    top: 45%;
    left: 20%;
    width: 500px;
    height: 500px;
    background-image: url('/images/MKEDOTNET_logo_WHT.svg');
    background-repeat: no-repeat;
    background-size:cover;

    transform: rotate(-35deg);
    opacity: 0.3;
}

.speakers{
    .speaker{
        margin:1em 0;
        padding:1.5em 1.5em 0.5em 1.5em;
        border:2px solid $medium-blue;
    }
}

.profile img{
    width: 100%;
    max-width:250px;
}
@media (max-width:$bp-large-nav-starts-at){
    .bio.nine.columns{
        width:100%;
    }
    .profile.three.columns{
        width:100%;
        margin-left: 0;
        margin-bottom: 2.5rem;
    }
}

.schedule{
    .timeslot{
        &>h1{
            background-color:$orange;
            color:white;
            padding: 0.5em;
            margin:0;
        }
        .scheduleSession{
            margin:1em 0;
            padding:1.5em 1.5em 0.5em 1.5em;
            border:2px solid $medium-blue;
        }
    }
}

.sponsors{
    img{
        vertical-align: middle;
        padding:0 10px;
    }
    .platinum img{
        max-width:100%;
    }
    .gold {
        text-align: center;
        img{
            max-width:50%;
        }
    }
    .silver{
        text-align: center;
        img{
            max-width:25%;
            margin: 0.5em;
            @media (max-width:$bp-large-nav-starts-at){
                max-width:55%;
            }        
        }
    }
    .bronze{
        text-align: center;
        img{
            max-width:15%;
            margin: 0.5em;
            @media (max-width:$bp-large-nav-starts-at){
                max-width:30%;
            }        
        }
    }
}
.center{
    text-align: center;
}
.main-block{
    padding:10px;
    margin-bottom: 20px;
    b{
        color: $orange;
    }
    h5{
        font-size:1.2em;
        font-weight:medium;
        text-transform: uppercase;
        font-family: $font-family;
        margin-bottom: 2.5rem;
    }
    a{
        text-decoration: underline;
    }
}

// grid-column-width(12);
#main-menu{
    height: 5rem;

    #wordmark{
        margin:0;
        text-indent: -9999px;
        background: transparent url('/images/MKEDOTNET_logo_rectangle.svg') center center no-repeat;
        background-size: contain;
        float:left;
        width:170px;
        height:80px;
        >a{
            line-height: 80px;
            display:block;
        }
        &.main{
            display:none;
        }
    }

    >ul{
        float: right;
        list-style:none;
        >li{
            float: left;
            margin-right:30px;
            font-family: 'Fjalla One', Arial, Helvetica, sans-serif;
            &:last-child{
                margin-right:0;
            }
            >a{
                display:block;
                width:auto;
                border-top: 3px solid transparent;
                line-height: 50px; 
                height: 50px;
                color:$dark-blue;
                text-decoration:none;
                &:hover{
                    color:$orange;
                    border-color:$orange;
                }
            }
        }
    }
}
@media (max-width:$bp-large-nav-starts-at){
    #main-menu
    {
        #wordmark{
            a{
                width:100%;
            }
            &.main{
                display:block;
            }
        }
        >ul{
            float: none;
            list-style:none;
            >li{
                float: left;
                margin-right:22px;
                font-family: 'Fjalla One', Arial, Helvetica, sans-serif;
                >a{
                    display:block;
                    width:auto;
                    border-top: 3px solid transparent;
                    line-height: 50px; 
                    height: 50px;
                    color:$dark-blue;
                    text-decoration:none;
                    &:hover{
                        color:$orange;
                        border-color:$orange;
                    }
                }
            }
        }        
    }
}
@media (max-width:$bp-medium-nav-starts-at){
    #main-menu
    {
        #wordmark{
            width:260px;
            float:none;
            margin-left: auto;
            margin-right: auto;
        }
        >ul{
            width: 100%;
            >li{
                width:100%;
                text-align:center;
                >a{
                    line-height: 40px; 
                    height: 40px;
                }
            }
        }
    }
}
@media (min-width:$bp-medium-nav-starts-at) and (max-width:$bp-large-nav-starts-at){
    #main-menu{
        width: 100%; 
        margin-left: 0;
        text-align:center;
        height:auto;
        #wordmark {
            width:300px;
            float:none;
            margin-left: auto;
            margin-right: auto;
        }
        >ul{
            display: inline-block;
            margin:10px 0;
            padding:2px;
            >li{
                display:inline-block;
                >a{
                    display:inline-block;
                }
            }
        }   
    }
}

@media ($bp-smaller-than-tablet)
{
    .hide-small{
        display:none;
    }
    h1,h2,h3,h4,h5,h6{
        line-height:1.3em;
    }
}
