$red: #972122;
$dark-blue: #568392;
$medium-blue: #aedbd3;
$light-blue: #e8faf7;
$black: #06132a;

#menu-centare-main-navigation{
    >li>a{
        line-height: 50px; 
        height: 50px;
        color:$dark-blue !important;
        &:hover{
            color:$red !important;
            border-color:$red;
        }
    }
}
.post-content{
    #mkedotnet{
        h1,h2,h3,h4,h5,h6{
            line-height:1em !important;
            color:$black;
        }
        a{
            color:$dark-blue;
            &:hover{
                color:$red;
            }
        }
        h1{
            font-size:30px;
            font-family:'Fjalla One', Arial, Helvetica, sans-serif;
        }
        h2{
            font-size:24px;
            font-family:'Fjalla One', Arial, Helvetica, sans-serif;
        }
        h3{
            font-size:20px;
            font-family:'Oswald', Arial, Helvetica, sans-serif;
        }
        h4{
            font-size:20px;
            font-family:'Oswald', Arial, Helvetica, sans-serif;
        }
        .speakers{
            .speaker{
                margin:1em 0;
                padding:0 1em;
                border:2px solid $medium-blue;
            }
        }

        .schedule{
            h1{
                line-height:1em;
            }
            .timeslot{
                &>h1{
                    background-color:$red;
                    color:white;
                    padding: 0.5em;
                    margin:0;
                }
                .scheduleSession{
                    margin:1em 0;
                    padding:0 1em;
                    border:2px solid $medium-blue;
                }
            }
        }
    }
}