@import '_variables.scss';

.violator {
    background-color: $orange;
    margin: 1rem 0;
    padding: 1rem;
    color: black;
    border-radius: 6px;
}

.live-stream a{
    background-color: $orange;
    padding: 0.5rem;

    b {
        padding-right: 0.5rem;
    }

    &:hover {
        color: black !important;
    }
    
}
