
<div class="fusion-one-half fusion-layout-column fusion-spacing-yes" style="margin-top:0px;margin-bottom:20px;">
    <div class="fusion-column-wrapper" style="padding:20px;">
        <p><span style="color: #06132a;"><span style="font-size: 1.2em; font-weight: medium; text-transform: uppercase;">Registration Is Open</span></span>
        </p>
        <p><span style="color: #06132a;">Registration for <span style="color: #972122; font-weight: bold;">MKE DOT NET</span>                    is now open! <a style="text-decoration: underline;" href="https://www.eventbrite.com/e/2016-mke-dot-net-conference-tickets-24321853318"
                target="_blank">Sign up for this year&#8217;s event now</a>, and save $20 with our early bird pricing.</span>
        </p>
        <div class="fusion-clearfix"></div>
    </div>
</div>

<div class="fusion-one-half fusion-layout-column fusion-column-last fusion-spacing-yes" style="margin-top:0px;margin-bottom:20px;">
    <div class="fusion-column-wrapper" style="padding:20px;">
        <p><span style="color: #06132a;"><span style="font-size: 1.2em; font-weight: medium; text-transform: uppercase;">Call For Sponsors</span></span>
        </p>
        <p><span style="color: #06132a;">If you are interested in sponsoring <span style="color: #972122; font-weight: bold;">MKE DOT NET</span>,
            please see our <a style="text-decoration: underline;" href="http://www.centare.com/wp-content/uploads/2016/05/MKE-DOT-NET-Sponsorship-Sheet-2016.pdf">Sponsorship Sheet</a>.
            If you have any questions, feel free to <a style="text-decoration: underline;" href="mailto:mkedotnet@centare.com?subject=Sponsor%20Information%20for%20MKE%20DOT%20NET%202016">contact our event organizers</a>.</span>
        </p>
        <div class="fusion-clearfix"></div>
    </div>
</div>


<div class="fusion-clearfix"></div>


<div class="fusion-one-half fusion-layout-column fusion-spacing-yes" style="margin-top:0px;margin-bottom:20px;">
    <div class="fusion-column-wrapper" style="padding:20px;">
        <p><span style="color: #06132a;"><span style="font-size: 1.2em; font-weight: medium; text-transform: uppercase;">We&#8217;re Getting Things Ready</span></span>
        </p>
        <p><span style="color: #06132a;"><span style="color: #972122; font-weight: bold;">MKE DOT NET</span> is returning
            for its second year. We are still planning the details of the event, but things are shaping up to be
            as amazing as <a style="text-decoration: underline;" href="http://www.centare.com/mke-dot-net-2015/"
                target="_blank">MKE DOT NET 2015</a>.</span>
        </p>
        <p><span style="color: #06132a;">We are interested to <a style="text-decoration: underline;" href="https://www.surveymonkey.com/r/ZMSQ25Y" target="_blank">hear your thoughts</a> as we make our plans so we can create an event that will impress you.</span></p>
        <div class="fusion-clearfix"></div>
    </div>
</div>

<div class="fusion-one-half fusion-layout-column fusion-column-last fusion-spacing-yes" style="margin-top:0px;margin-bottom:20px;">
    <div class="fusion-column-wrapper" style="padding:20px;">
        <p><span style="color: #06132a;"><span style="font-size: 1.2em; font-weight: medium; text-transform: uppercase;">Code of Conduct</span></span>
        </p>
        <p><span style="color: #06132a;">We are committed to providing a safe and welcoming environment for all at <span style="color: #972122; font-weight: bold;">MKE DOT NET</span>.
            Please take time to read our <a style="text-decoration: underline;" href="/code-of-conduct/">Code of Conduct</a>.
            </span>
        </p>
        <div class="fusion-clearfix"></div>
    </div>
</div>


<div class="fusion-clearfix"></div>


<div class="fusion-one-half fusion-layout-column fusion-column-last fusion-spacing-yes" style="margin-top:0px;margin-bottom:20px;">
    <div class="fusion-column-wrapper" style="padding:20px;">
        <p><span style="color: #06132a;"><span style="font-size: 1.2em; font-weight: medium; text-transform: uppercase;">Sign Up for Updates</span></span>
        </p>
        <p><span style="color: #06132a;">Sign up for our email list and stay informed about all things <span style="color: #972122; font-weight: bold;">MKE DOT NET</span>.</span>
        </p>
        <!-- [if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->

        <script src="//js.hsforms.net/forms/v2.js" type="text/javascript" charset="utf-8"></script>
        <script>// <![CDATA[
hbspt.forms.create({ portalId: '553319', formId: 'cca7eaaf-7c9b-4393-a1d4-5b0e107d4126', submitButtonClass: 'hubspot-cta-form-button-mke-dot-net' });
// ]]&gt;</script>

        <div class="fusion-clearfix"></div>
    </div>
</div>

