<div class="row">
    <div class="main-block">
        <h5>More information coming soon!</h5>
        <p>
            In the meantime, <a href="/2016/">see what we did in 2016</a>.
        </p>
    </div>
</div>
