<div class="row">
    <div class="main-block">
        <h2>We want you to speak at MKE DOT NET!</h2>
        <p>
            We'd love for you to submit an abstract or three to speak at MKE DOT NET! While you're fine-tuning them, here are some important dates to remember.
            <ul>
                <li><strong>April 1, 2017</strong> - Call For Speakers opens!</li>
                <li><strong>May 31, 2017</strong> - Call For Speakers closes at midnight CDT.</li>
                <li><strong>July 1, 2017</strong> - Speaker lineup announced.</li>
            </ul>
        </p>
    </div>
    <div class="main-block">
        <h2>More information coming soon!</h2>
        <p>
            <a href="/2016/">MKE DOT NET 2016</a> was a huge success. In 2017, we're hoping to be even better. Watch this site for more information in the coming months.
        </p>
    </div>
</div>
