<div class="row">
    <div class="main-block keynote">
        <h2>Keynote — Maria Naggaga, Microsoft</h2>
        <p class="img-circle"></p>
        <p>Maria Naggaga a developer and artist. She is a Program Manager on the Visual Studio and .NET team where she explores ways to engage and teach new developers about  .NET OSS. Earlier in her career, Maria worked as a Microsoft Technical Evangelist in New York where she worked with a variety of developers on different stacks and technologies.
Maria’s passion is in finding interesting ways on how we can use art, software, and hardware to change perception, tell stories and break stereotypes.</p>
    </div>
    <div class="main-block">
        <h2>We want you to speak at MKE DOT NET!</h2>
        <p>
            We'd love for you to submit an abstract or three to speak at MKE DOT NET! While you're fine-tuning them, here are some important dates to remember.
            <ul>
                <li><strong>April 1, 2017</strong> - Call For Speakers opens! <a href="https://www.papercall.io/mkedotnet2017" target="_blank">Check out the details.</a></li>
                <li><strong>May 31, 2017</strong> - Call For Speakers closes at midnight CDT.</li>
                <li><strong>July 1, 2017</strong> - Speaker lineup announced.</li>
            </ul>
        </p>
    </div>
    <div class="main-block">
        <h2>More information coming soon!</h2>
        <p>
            <a href="/2016/">MKE DOT NET 2016</a> was a huge success. In 2017, we're hoping to be even better. Watch this site for more information in the coming months.
        </p>
    </div>
</div>
