<div class="row">
    <div class="one-half column main-block">
        <h5>Sold Out!</h5>
        <p>
            <b>MKE DOT NET</b> is sold out! 
            If you managed to snag a ticket, we can't wait to see you on October 29th!
            If you didn't get a ticket, you can <a href="https://twitter.com/hashtag/mkedotnet">follow along on Twitter</a>. And if you sign up for email updates, we'll send you information about <b>MKE DOT NET</b> 2017 as soon as we have it.
        </p>
    </div>
    <div class="one-half column main-block">
        <h5>Thank You, Sponsors!</h5>
        </p>
        <p>We have <a href="/sponsors">so many great sponsors</a> to thank for <b>MKE DOT NET</b> this year! 
            Be sure to stop by their booths and thank them in person for making this possible.
        </p>

    </div>
</div>

<div class="row">
    <div class="one-half column main-block">
        <h5>Code of Conduct</h5>
        <p>We are committed to providing a safe and welcoming environment for all at <b>MKE DOT NET</b>.
            Please take time to read our <a href="/code-of-conduct/">Code of Conduct</a>.
        </p>
    </div>
    <div class="one-half column main-block">
        <h5>Sign Up for Updates</h5>
        <p>Sign up for our email list and stay informed about all things <b>MKE DOT NET</b>.
        </p>
        <!-- [if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->

        <script src="//js.hsforms.net/forms/v2.js" type="text/javascript" charset="utf-8"></script>
        <script>// <![CDATA[
hbspt.forms.create({ portalId: '553319', formId: 'cca7eaaf-7c9b-4393-a1d4-5b0e107d4126', submitButtonClass: 'button button-primary' });
// ]]&gt;</script>

    </div>
    <div class="one-half column main-block">

    </div>
</div>
