<div class="row">
    <div class="main-block keynote">
        <h2>Keynote — Maria Naggaga, Microsoft</h2>
        <p class="img-circle"></p>
        <p>Maria Naggaga is a developer and artist. She is a Program Manager on the Visual Studio and .NET team where she explores
            ways to engage and teach new developers about .NET OSS. Earlier in her career, Maria worked as a Microsoft Technical
            Evangelist in New York where she worked with a variety of developers on different stacks and technologies. Maria’s
            passion is in finding interesting ways on how we can use art, software, and hardware to change perception, tell
            stories and break stereotypes.</p>
    </div>
    <!-- <div class="main-block">
        <h2>Speakers!</h2>
        <p>
            We had a record number of submissions to speak at MKE DOT NET 2017. It was difficult to decline as many submissions as we
            did. But we're thrilled for the variety of speakers and topics we'll have this year, and we hope you are too!
        </p>
        <p>
            The schedule will be coming soon - until then, <a href="/speakers">check out our amazing lineup of speakers!</a>
        </p>
    </div> -->
    <div class="main-block">
        <h2>Sponsorship information</h2>
        <p>
            Becoming a sponsor will allow you to put your company’s name in front of 350 developers in the Milwaukee area. With varying
            levels of sponsorship, you can choose the option that best suits your needs. You’ll have a chance to have your
            logo on display as well as other options, such as advertising, hosting a table at the conference, and opportunities
            to make announcements.
        </p>
        <p>
            See the <a href="/pdf/MKE%20DOT%20NET%20Sponsorship%20Sheet%202017.pdf#v=2&zoom=150" target="_blank">2017 MKE DOT NET sponsorship sheet</a>            for details on sponsorship levels! </p>
        <p> If you are interested in sponsoring, or have any other questions for us, reach out to us at <a href="mailto:mkedotnet@centare.com">mkedotnet@centare.com</a>.
        </p>
    </div>

    <div class="main-block">
        <h2>Past Years</h2>
        <p>
            Looking for past years of MKE DOT NET? Look no further.
            <h3><a href="/2016/">2016</a></h3>
        </p>
    </div>

</div>