h1 Speakers

div.speakers
    for speaker, slug in public.speakers
        if speaker._data
            div 
                != partial("_speaker", { speaker: speaker._data.index, slug: slug })


//- pre #{ JSON.stringify(public, null, '\t') }
// != public.speakers['steven-hicks']._data.index.name
