article.session
    h1 #{name}
    if speaker
        != partial("../_speakerLink", { speaker: speaker })
    if speakers
        for speaker in speakers
            != partial("../_speakerLink", {speaker: speaker})
    h3 #{room}
    h3 #{timeslot}
    p
        != description
